body {
  max-width : 720px;
  background-color : black;
  font-family : monospace;
  display : grid;
  margin : auto;
  margin-top : 2em;
  margin-bottom : 2em;
}


main {
  border : 2px solid #272330;
  border-radius : 4px;
  padding : 1em;
  padding-top : 1.5em;
  background-color : rgb(224,224,224);
  color : #272330;
}

h1 {
  font-family : jimthorpehigh;
}

#hr1 {
  border: 1.5px solid black;
}

.aligncenter {
  text-align : center;
}

.marginauto {
    margin: 10px auto 20px;
    display: block;
}

nav {
  text-align : center;
}

.navlink {
  font-weight : bold;
  color : grey;
  text-decoration : none;
  margin : auto;
}

.navlink:hover {
  color : rgb(33,33,33);
  text-decoration : none;
}

ul {
 list-style : circle; 
}

.link-head {
  color : rgb(97,97,97);;
  font-weight : bold;
}

.link {
  color : rgb(97,97,97);
  text-decoration : none;
}

.link:hover {
  color : rgb(33,33,33);
  text-decoration : none;
}

#introduction-p {
  width : 90%;
  margin : auto;
}

#introduction-p p {
  padding-top : 2em;
  color : rgb(97,97,97);
}

footer {
  margin-top : 0.5em;
  border : 2px solid #272330;
  border-radius : 3px;
  padding : 1em;
  background-color : rgb(224,224,224);
  color : rgb(97,97,97);
  font-size : 13px;
}